{% extends 'common/base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="hero-unit text-center">

  {% include 'common/snippets/home_buttons.html' %}
	<div id="inner-header">
	        <br>
	        <h1>Welcome to Pano!</h1>
	        <p>
Society is showing strong signs of ideological division. 
People from different sides exist in echo chambers of homogeneous news sources and perspectives. 
However, when pushed to exit their echo chambers, people often reject diverse ideas or find them 
unfathomable. 
</p>
<P>
<img src="{% static "common/img/pano-screen1.png" %}" width="300" style="border:1px solid black"> 
<img src="{% static "common/img/pano-screen2.png" %}" width="300" style="border:1px solid black"> 
</P>
<p>
Enter <strong>Pano</strong>, an interactive system motivated by moral framing theory that educates news 
consumers to think in a framework of fundamental human values. 
Pano encourages users to challenge their understanding of opposing views through 
collaborative annotation and discussion of moral framing in articles and comments. 
</p>  


	<h3>How does Pano work?</h3>

<p style="text-align: justify;">
	Pano places commenting and discussion front and center. 
	You can highlight text in any article to trigger an interface where you 
	can tag the moral frames present in the text. 
	You can also leave a comment simultaneously, and tag the comment with what moral 
	frames you are speaking from. 
	</p>
<p style="text-align: justify;">
	Afterwards, other people who wish to respond to your comment on that 
	annotation or leave their own thoughts must demonstrate that they also 
	understand and have examined the moral framing in that annotation - 
	they must contribute to the tagging on that annotation by either upvoting existing tags, 
	or adding tags they believe are missing. 
	Only after providing such a contribution is the commenting feature unlocked. 
	
	
	
</P>

	<h3>What is the motivation behind Pano?</h3>
<p style="text-align: justify;">	
News is crucial for our education about the world around us. 
News creates connections to the human experiences of others, 
to blessings and sufferings alike. However, as sources of news 
increasingly transition into the digital world, people find 
themselves surrounded by content specifically tailored 
to them and their preferences. 
As a result, <strong>echo chambers</strong> - places where the same, 
one-sided sentiments and perspectives are resonated among a 
community - have enveloped our online spaces, and furthered
 rifts between ideologies. People are deprived of exposure to 
 diverse news content; however, diversity in news consumption is 
 important for more informed societies, healthier democracies, 
 and a more solid understanding of our own beliefs. 
 In today's political climate, helping people break their echo chambers is especially relevant. 
</P>
<p style="text-align: justify;">
Other systems have tried to make diverse 
content more readily available, or finding ways to encourage people to seek diversity.
However, simply introducing more diverse content or nudging people 
to seek alternative perspectives is insufficient. 
When exposed to diverse content incongruous with a person's existing views, 
people reject or further distrust the content, and double-down on 
their own beliefs to minimize cognitive dissonance.
</p>
<p style="text-align: justify;">
	
	Often, the diverse news articles people encounter 
	are not written for audiences of a different ideology from the author.
	<strong>Framing</strong> affects reception of ideas, and it is problematic 
	that the framing of these articles may invoke resistance to the arguments 
	and facts. Proper framing into themes which resonate with readers, 
	therefore, is critical to the reception of ideas.
	 Interpretations, not facts, separate beliefs across ideological lines, 
	 and framing is the means by which interpretations manifest themselves. 
	 Studies on <strong>moral framing</strong> in particular - framing with 
	 a set of fundamental human values - have identified that liberals 
	 and conservatives in the U.S. are distinctively more receptive to 
	 certain moral frames over others.
</P>

	<h3>What is moral framing and Moral Foundations?</h3>

<p style="text-align: justify;">
Pano's use of moral framing draws from Moral Foundations Theory,
a theory stating that human moral thought is based upon five fundamental 
psychological foundations that are found across humanity. 
These five foundations are:
<BR><BR>
	<ul>
    <li> Care/harm. This foundation is related to an ability to feel (and dislike) the pain of others. It underlies virtues of kindness, gentleness, and nurturance.
    </li>
    <li> Fairness/cheating. This foundation generates ideas of justice, rights, and autonomy.
    </li>
    <li> Loyalty/betrayal.	This foundation underlies virtues of patriotism and self-sacrifice for the group.
    </li>
    <li> Authority/subversion.	This foundation underlies virtues of leadership and followership, including deference to legitimate authority and respect for traditions.
    </li>
    <li> Sanctity/degradation.	This foundation underlies notions of striving to live in an elevated, less carnal, more noble way.
	</li>
	</ul>
<BR><BR>
Research shows that liberals and conservatives have distinctly differing moral foundations. 
Liberals prioritize care and fairness, whereas conservatives prioritize all five foundations equally.
Our thinking is also influenced by the work of George Lakoff, 
characterizing conservatives arguments as using metaphors that invoke a "strict father model", 
while liberal arguments operate under a "nurturant parent model".

</p>

	<h3>Why should we care about moral framing?</h3>
<p style="text-align: justify;">
People from one side can be swayed to support arguments from the other side if the arguments 
are framed using the moral foundations they care about. 
For instance, researchers in the past have taken a traditionally conservative argument 
framed in terms of loyalty ("English should be the official 
language of the U.S. because it unites Americans and is a 
fundamental part of a larger cultural assimilation process") 
then re-framed it using a liberal moral value of fairness 
("making English the official language of the United States 
would compel immigrants to learn the language, leading them in turn 
to face better job prospects and less discrimination"). 
The re-framed statement was found to be uniquely persuasive to both 
liberals as well as those who simply highly valued fairness. 
Differences in underlying moral foundations may be key to understanding 
why arguments framed in the moral values of one side may fall 
on deaf ears when presented to the opposing side. 
	
</P>


	
	
	

  {% include 'common/snippets/home_buttons.html' %}

</div>
</div>

{% endblock %}
