{% extends 'common/base.html' %}
{% load staticfiles %}

{% block content %}
 <div class="hero-unit text-center">

  {% include 'common/snippets/home_buttons.html' %}
	<div id="inner-header">
	        <br>
	        <h1>Welcome to Pano!</h1>
	        <p>
Society is showing strong signs of ideological division. 
People from different sides exist in echo chambers of homogeneous news sources and perspectives. 
However, when pushed to exit their echo chambers, people often reject diverse ideas or find them 
unfathomable. 
</p>
<P>
<img src="{% static "common/img/pano-screen1.png" %}" width="300" style="border:1px solid black"> 
<img src="{% static "common/img/pano-screen2.png" %}" width="300" style="border:1px solid black"> 
</P>
<p>
Enter Pano, an interactive system motivated by moral framing theory that educates news 
consumers to think in a framework of fundamental human values. 
Pano encourages users to challenge their understanding of opposing views through 
collaborative annotation and discussion of moral framing in articles and comments. 
</p>  

  {% include 'common/snippets/home_buttons.html' %}

</div>
</div>

{% endblock %}
